@use "./../01-abstracts/" as *;

.main {
  padding: 32px 16px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  min-height: 100vh;
  max-width: calc(1049px + 32px);
  margin: auto;
  @include breakpoint($lg){
    flex-direction: row;
    padding: 100px 16px;
    gap: 127px;
  }
}
