// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$deep-violet: #21092F;
$purplish-grey: #8F8694;
$light-grey: #DFDEE0;
$white: #ffffff;
$red: #FF5050;
$gradient: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);

