// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$deep-violet: #21092f;
$purplish-grey: #8f8694;
$light-grey: #dfdee0;
$white: #ffffff;
$red: #ff5050;
$gradient: linear-gradient(163.95deg, #6348fe 4.74%, #610595 88.83%);
