@use "./../01-abstracts/" as *;

body {
  background-color: $white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: $deep-violet;
  position: relative;
}

input {
  color: $deep-violet;
}

button {
  cursor: pointer;
  transition: .2s ease-in-out;
  &:active {
    transform: scale(0.9);
  }
}
