@use "./../01-abstracts/" as *;

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  max-height: 350px;
  overflow: hidden;

  @include breakpoint($lg) {
    right: unset;
    max-height: 100vh;
    clip-path: polygon(
      0 0,
      calc(100% * 483 / 1440) 0,
      calc(100% * 483 / 1440) 100%,
      0 100%
    );
  }
}
