@use "./../01-abstracts/" as *;

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 11px;
  max-width: 381px;
  @include breakpoint($lg){
    row-gap: 26px;
    column-gap: 20px;
  }

  &__label {
    text-transform: uppercase;
    font-size: rem(12px);
    line-height: rem(15px);
    letter-spacing: rem(2px);
    grid-column: span 2;

    &--half {
      grid-column: span 1;
    }
  }

  &__input {
    width: 100%;
    margin-top: 9px;
    padding-left: 11px;
    height: 45px;
    font-size: 18px;
    line-height: 23px;
    border: $light-grey 1px solid;
    border-radius: 8px;

    &::placeholder {
      color: #{$deep-violet}40;
    }

    &--flex {
      display: flex;
      gap: 8px;
      @include breakpoint($lg){
        gap: 10px;
      }
    }
  }

  &__button {
    margin-top: calc(28px - 20px);
    grid-column: span 2;
    @include breakpoint($lg){
      margin-top: calc(40px - 26px);
    }
  }
}
